<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StudioBoss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <StudioBoss.Properties.Settings>
            <setting name="API_STRING" serializeAs="String">
                <value />
            </setting>
            <setting name="auto_auth" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="retain_pair" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="silent_barcode" serializeAs="String">
                <value>false</value>
            </setting>
        </StudioBoss.Properties.Settings>
    </userSettings>
</configuration>
